h1 {
  color: red;
  border: 2px solid purple;
  display: inline;
  margin-bottom: 1em;
  display: inline-block;
  margin-left: 500px;
}

img {
    margin-left: 350px;
    margin-top: 10px;
  }

body {
  background-color: lightblue;
}
header {
  background-color: pink;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
}
.button{
  appearance: button;
  border: solid black 2px;
  background-color: grey;
  border-radius: 35%;
  margin-left: 4em;
  padding: .5em;
  color: black;
  text-decoration: none;
}
